<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700|Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div class="header">
      <h1 class="title">{{ title }}</h1>
      <h2 class="artist">{{ artist }},&nbsp;</h1>
      <h2 class="album">{{ album }}</h1>
    </div>



<div class="chord-chart">
  
  <div class="pure-g">
    {% for section in chordchart %}
    <h3 class="section-name">{{section.name}}</h3>
      
	{% for measure in section.measures %}
	<div class="pure-u-1-4 space-on-bottom">
	  <div class="measure">
	    
	    {% for chord in measure %}
	    
	    <div class="chord pure-u-1-4">
	      {% if chord.slashnote %}
	        <sup class="same-size"> {{chord.rootnote}} <sup>{{chord.quality}}</sup> </sup>
	        /
	        <sub class="same-size"> {{chord.slashnote}} </sub>
	      {% else %}
	        {{chord.rootnote}}
	        <sup> {{chord.quality}} </sup>
	      {% endif %}
	    </div>
	    
	    {% endfor %}
	    
	  </div>
	  
	  <div class="barline">&nbsp;</div>
	  
	</div>
	{% endfor %}
	
  </div>
  {% endfor %}
  
  </div>
</div>
</body>
</html>
